* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #81CBCD;
}

.header__meny {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2em;
}

.header__meny a {
    color: black;
    text-decoration: none;
}

.header__meny__button  {
    width:170px;
    height: 70px;
    background-color: #A9FDFF;
    border: none;
    border-radius: 100em;
    box-shadow: 1em 1em 1em grey;
    margin-top: 5vh;
}

.header__meny__button:hover {
    transform: scale(1.1);
    box-shadow: 2em 1em 2em grey;
}

.main__box {
    background-color: #A9FDFF;
    width: 250px;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2em;
    text-align: center;
    margin-top: 10vh
}

.main__box p {
    margin-top: 10vh;
    font-size: 20px;
}

.main__box h1 {
    margin-top: 7vh;
    font-size: 32px;
}







@media (min-width:414px) {

    .header__meny {
        width: 350px;
        margin-top: 3em;
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
    }
}


@media (min-width:600px) {

    .header__meny {
        font-size: 32px;
        width: 600px;
    }

    .main__box {
        margin-top: 15vh;
        scale: 1.2;
    }
}

@media (min-width:1000px) {

    .header__meny {
        font-size: 32px;
        width: 1000px;
    }

}