* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #81CBCD;
}

.header__meny {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2em;
}

.header__meny a {
    color: black;
    text-decoration: none;
}




.main__boka {
    width:170px;
    height: 70px;
    background-color: #A9FDFF;
    border: none;
    border-radius: 100em;
    box-shadow: 1px 1px 2px grey;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.main__boka a {
font-size: 16px;
color: black;
text-decoration: none;
}



@media (min-width:414px) {

    .header__meny {
        width: 350px;
        margin-top: 3em;
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
    }
}


@media (min-width:600px) {

    .header__meny {
        font-size: 32px;
        width: 600px;
    }
}

@media (min-width:1000px) {

    .header__meny {
        font-size: 32px;
        width: 1000px;
    }

}