* {
    box-sizing: border-box;
}

body {
    background-color: #81CBCD;
}

.header__rubrik {
    font-size: 20px;
    width: 200px;
    font-weight: 100;
    text-shadow: 1px 1px 1px black;
    position: relative;
    left: 10vw;
    top: 2vh;
}

header {
    display: flex;
    flex-direction: column;
}

.header__image {
justify-content: center;
}


.header__text {
    display: flex;
    justify-content: end;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 32px;
}



.main__meny {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.main__boka {
    width:170px;
    height: 70px;
    background-color: #A9FDFF;
    border: none;
    border-radius: 100em;
    box-shadow: 1px 1px 2px grey;
}

.main__boka a {
font-size: 16px;
color: black;
text-decoration: none;
}

main div {
    display: flex;
    justify-content: center;
}