* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #81CBCD;
}

.header__rubrik {
    font-size: 20px;
    width: 200px;
    font-weight: 100;
    text-shadow: 1px 1px 1px black;
    position: relative;
    left: 10vw;
    top: 2vh;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.header__image {
    margin-top: 5vh;
}

.header__box {
    display: flex;
    justify-content: center;
}


.header__text {
    display: flex;
    justify-content: end;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 32px;
    margin-right: 5vw;
}



.main__meny {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.main__meny a {
    color: black;
    text-decoration: none;
}

.main__boka {
    width:170px;
    height: 70px;
    background-color: #A9FDFF;
    border: none;
    border-radius: 100em;
    box-shadow: 1px 1px 2px grey;
    margin-top: 5vh;
}

.main__boka a {
font-size: 16px;
color: black;
text-decoration: none;
}

main div {
    display: flex;
    justify-content: center;
}



@media (min-width:366px){

    .header__image {
        width: 340px;

    }

}


@media (min-width:538px) {
    
    .main__meny {
        font-size: 24px;
        justify-content: center;
        gap: 50px;
    }

    .main__boka {
        scale: 1.2;
    }
    
}

@media (min-width:1100px) {

    .main__meny {
        font-size: 50px;
        gap: 100px;
    }

    .main__boka {
        margin-top: 5em;
    }

    header{
        width: 900px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__rubrik {
        font-size: 48px;
        width: 400px;
        position: relative;
        top:40px;
        left: 10%;
    }

    .header__text {
        font-size: 70px;
        position: relative;
        left: 50%;
        width: 400px;
    }

    .header__image {
        width: 500px;
    }

}