* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #81CBCD;
}

.header__meny {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2em;
}

.header__meny a {
    color: black;
    text-decoration: none;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 7vh;
    margin-bottom: 2vh;
}

.main__form {
    background-color: #A9FDFF;
    border-radius: 2em;
    height: 310px;
    width: 250px;
}

.main__form label {
    display: block;
}

.main__form__personal, .main__form__adress, .main__form__card {
    margin-top: 2vh;
    margin-left: 7vh;
}

/* Adress små rutor */

.main__form__adress__small input{
    width: 65px;
}

.main__form__adress__small div:last-child {
    margin-left: 14px;
}

.main__form__adress__small {
    margin-top: 1.2em;
}

.main__form__adress__small div {
    display: inline-block;
}

/* Kortnummer små rutor */

.main__form__card__small {
    margin-top: 1.2em;
}

.main__form__card__small div {
    display: inline-block;
}

.main__form__card__small input {
    width: 40px;
}

.main__form__card__small div:nth-child(2),
.main__form__card__small div:nth-child(3) {
    margin-left: 19px;
}






/* Knapp  */


.main__boka {
    width:170px;
    height: 70px;
    background-color: #A9FDFF;
    border: none;
    border-radius: 100em;
    box-shadow: 1px 1px 2px grey;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    cursor:pointer;

}

.main__boka a {
font-size: 16px;
color: black;
text-decoration: none;
}






@media (min-width:414px) {

    .header__meny {
        width: 350px;
        margin-top: 1.5em;
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
    }

    .main__form__adress, .main__form__personal, .main__form__card {
        margin-left: 40px;
    }

    .main__form {
        height: 350px;
    }
}


@media (min-width:600px) {

    .header__meny {
        font-size: 32px;
        width: 600px;
    }

    .main__boka {
        margin-top: 2em;
    }

  
}

@media (min-width:1000px) {

    .header__meny {
        font-size: 32px;
        width: 1000px;
    }

}

@media (max-height:634px) {
    .main__boka {
        margin-top: 150px;
    }
}